# ignore mac system files
.DS_Store

# ignore citypy test data
Groningen_NL*

# ignore poetry
poetry.lock
pyproject.toml

# ignore presentations and P files
files/*

# ignore qgis projects
qgis/*

# ignore vscode extensions
.vscode/*

# ignore outdated notebook
notebooks/eda_cbs_ipynb