# ignore mac system files
.DS_Store

# ignore citypy test data except ones ending in .npz
Groningen_NL*
!Groningen_NL*.npz

# ignore poetry
poetry.lock
pyproject.toml

# ignore presentations and P files
files/

# ignore qgis projects
qgis/

# ignore vscode extensions
.vscode/*

# ignore outdated notebook
notebooks/eda_cbs_ipynb

# ignore pdfs
*.pdf

# ignore large fils
data/bag/original/

# ignore scratch notes
notes.md

# pycache
__pycache__/
*.pyc

# ignore large data files
data/*

# temporarily ignored
*.md
*.tex
misc/

